.input_daily_screen {
    background-color: #e6f0ff;
    /* 柔らかな青色の背景 */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: 50px auto;
}

.daily_registration_form {
    margin: 0;
    padding: 20px;
    border: 1px solid #b3d1ff;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.daily_registration_form div {
    margin-bottom: 15px;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

.daily_registration_form input[type="text"],
.daily_registration_form input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #b3d1ff;
    border-radius: 5px;
    font-size: 14px;
}

.login_button {
    background-color: #1578c9;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login_button:hover {
    background-color: #105ea6;
}

.welcome_container {
    text-align: center;
    background-color: #e6f0ff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 600px;
    margin: 50px auto;
    font-family: Arial, sans-serif;
}

.welcome_container h1 {
    font-size: 24px;
    color: #1578c9;
}

.welcome_container p {
    font-size: 16px;
    color: #333333;
    margin: 10px 0;
}

.welcome_actions a {
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
    background-color: #1578c9;
    padding: 10px 15px;
    border-radius: 5px;
    margin: 10px;
    transition: background-color 0.3s;
}

.welcome_actions a:hover {
    background-color: #105ea6;
}

.welcome_actions {
    margin-top: 20px;
}

.login_button_secondary {
    background-color: #4a90e2;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login_button_secondary:hover {
    background-color: #3b7bbf;
}