body{
    margin-top: 50px;
}
.team_search_side{
    background-color: #f5f5f5;
}
.team_search_content{
    margin:0 20%;
    border: 0px solid #ccc;
    /* background-color: #e1e9f3; */
    background-color: #e1e9f3;
}
h1{
    /* display: flex; */
    padding: 20px;
    margin-top: 60px;
    margin-bottom: 20px;
    border-radius: 10px;
    text-align: center;
}
/* h1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 80px;
    margin: 0 auto;
    background-color: #1578c9;
    color: white;
    padding: 10px;
    margin-top: 100px;
    margin-bottom: 20px;
    border-radius: 10px;
} */
button{
    width:400px;
    height:300px;
    background:white;
    border-radius:30px;
    margin: 10px;
    font-size: 40px;
    cursor: pointer;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.bt{
    text-align: center;
}
input{
    width: 200px;
    height: 50px;
    border-radius: 30px;
}
.br{
    text-align: right;
    margin-right: 100px;
}
.mt{
    margin-top: 50%;
    margin-left: 50px;
}
.fsize{
    font-size: 20px;
}

.popup-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
}

.popup-box {
    background-color: #fff;
    width: 400px;
    height: 400px;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    position: relative;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
.new_group_create{
    background-color: #FFC107;
    color:white;
}

.group_button{
    /* color:white; */
    color:#1578c9;
    /* background-color: #FFF9E6; */
    background-color: #fef9ed;
}
/* テスト：参加済みのグループの色 */
/* .group_button_blue{
    color:white;
    background-color: #69a2d4;
    /* background-color: #3381c1; 
} */
