body {
    margin-top: 50px;
}

h1 {
    padding: 20px;
    margin-top: 60px;
    margin-bottom: 20px;
    border-radius: 10px;
    text-align: center;
    font-size: 24px;
}


button {
    margin: 0;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}


button.new_group_create,
button.group_button {
    width: 100%;
    max-width: 300px;
    height: 60px;
    background: white;
    border-radius: 30px;
    margin: 10px 0;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}


button.new_group_create {
    background-color: #056be7;
    color: white;
    align-self: flex-start;
    margin-left: 50px;
}


button.group_button {
    color: #1578c9;
    background-color: #fef9ed;
}


.fsize {
    font-size: 16px;
}


.popup-container {
    display: none;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    z-index: 1000;

}


.popup-box {
    background-color: #fff;
    width: 90%;
    max-width: 400px;
    padding: 20px;
    border-radius: 10px;
    position: relative;
    text-align: center;
}


.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
    background: none;
    border: none;
    color: #333;
}




.popup-box h2 {
    margin-top: 0;
    font-size: 24px;
    margin-bottom: 20px;
}


.popup-box p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}


.popup-box input[type="submit"] {
    background-color: #1578c9;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.popup-box input[type="submit"]:hover {
    background-color: #125e9c;
}