body {
    background-color: #f9f9f9;
    margin: 0;

}

h1 {
    margin-top: 50px;
    text-align: center;
    font-size: 1.5em;

}

p {
    margin: 0;
    margin-left: 10px;

    margin-right: 10px;

    font-size: 0.9em;
    /* 调整字体大小 */
}

.center {
    text-align: center;
    font-size: 1em;
}

.wrap-tab {
    overflow: hidden;
    padding: 0;
}

.list-tab {
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    /* 缩小左右间距 */
    margin-right: 10px;
    /* 缩小左右间距 */
    border-bottom: 3px solid #1578c9;
}

.list-tab>li {
    display: block;
    padding: 1em 0.5em;
    /* 调整按钮的内间距 */
    margin: 0 2px;
    /* 缩小按钮间距 */
    width: 24%;
    /* 按钮宽度自适应 */
    color: #fff;
    font-size: 1em;
    /* 调整字体大小 */
    text-align: center;
    background: #ccc;
    box-sizing: border-box;
    cursor: pointer;
    border-radius: 5px;
    /* 添加圆角 */
}

.list-tab .active {
    background: #1578c9;
}

.tab-content {
    display: none;
    padding: 1em;
    margin-left: 10px;
    /* 缩小左右间距 */
    margin-right: 10px;
    /* 缩小左右间距 */
}

.tab-content.active {
    display: block;
}

.notification-item {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    /* 缩小内边距 */
    margin-left: 10px;
    /* 缩小左右间距 */
    margin-right: 10px;
    /* 缩小左右间距 */
    margin-bottom: 10px;
    /* 调整间距 */
    border-radius: 5px;
    font-size: 0.9em;
    /* 调整字体大小 */
}

.notification-item h2 {
    font-size: 1em;
    /* 调整字体大小 */
    line-clamp: 2;
}

.tag {
    width: auto;
    /* 自动适应宽度 */
    height: auto;
    padding: 5px 10px;
    /* 内边距 */
    border-radius: 15px;
    background-color: #f5f5f5;
    font-size: 0.8em;
    /* 调整字体大小 */
    display: inline-block;
    /* 使标签更紧凑 */
    text-align: center;
}