header {
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
    border-radius: 10px;
}

#back-button {
    background: none;
    border: none;
    color: white;
    font-size: 1rem;
    cursor: pointer;
}

.group-list-container {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
}

.group-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.group-info {
    width: 100%;
    margin-bottom: 10px;
}

.group-item .group-name {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 5px;
}

.group-item .group-members {
    font-size: 0.9rem;
    color: #666;
}

.group-buttons {
    display: flex;
    gap: 10px;
    width: 100%;
    justify-content: space-between;
}

.group-buttons button {
    background: none;
    border: none;
    cursor: pointer;
}

.group-buttons button img {
    width: 40px;
    height: 40px;
    background-color: rgb(170, 183, 238);
}

.search-button a {
    display: inline-block;
    background-color: #1578c9;
    color: #fff;
    padding: 10px 20px;
    margin: 10px auto;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    margin: 10px 0;
}

.search-button {
    width: 90%;
    margin: 0 auto;
    text-align: left;
}