/* ページのヘッダー */
header {
    /* display: flex; */
    text-align: center;
    padding: 10px;
    margin-top: 100px;
    margin-bottom: 20px;
    border-radius: 10px;
}

/* 戻るボタン */
#back-button {
    background: none;
    border: none;
    color: white;
    font-size: 1rem;
    cursor: pointer;
}

/* グループ一覧の全体コンテナ */
.group-list-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
}

/* 各グループのアイテムコンテナ */
.group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* グループ情報部分 */
.group-info {
    flex-grow: 1;
}

/* グループ名 */
.group-item .group-name {
    font-size: 1.5rem;
    font-weight: bold;
}

/* メンバー数 */
.group-item .group-members {
    font-size: 1rem;
    color: #666;
}

/* グループボタンコンテナ */
.group-buttons {
    display: flex;
    gap: 10px;
}

/* ボタンスタイル */
.group-buttons button {
    background: none;
    border: none;
    cursor: pointer;
}

/* ボタンの画像 */
.group-buttons button img {
    width: 50px;
    /* ボタン画像のサイズを調整 */
    height: 50px;
    background-color: rgb(170, 183, 238);
}